/* Header styles */

header {
    background-color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 60px;
}

nav a {
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    background-color: #333;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: black;
    background-color: orange;
}

.logo {
    margin-right: 20px;
}

nav img {
    width: 70px;
    height: 50px;
}


/* Styles for the container */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}


/* Styles for the form */

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

form label {
    margin: 10px;
}

form input,
form select,
form button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

form input:focus,
form select:focus {
    outline: none;
    border-color: #6c63ff;
}

form button {
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #524dd9;
}


/* Styles for the booking summary */

h3 {
    margin-top: 20px;
    font-size: 24px;
}

p {
    font-size: 18px;
    margin: 10px;
}


/* Styles for the payment button */

#pay-button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

#pay-button:hover {
    background-color: #524dd9;
}


/* Styles for the success message */

.success {
    margin-top: 20px;
    padding: 20px;
    background-color: #d1f1be;
    color: #6b8e23;
    font-size: 18px;
    border-radius: 5px;
    animation: fadeOut 4s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.info {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.info li {
    margin-right: 10px;
}

.info a {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.info a:hover {
    color: #ff5e3a;
}