/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin: 0;
  padding: 20px 0;
}

/* Header styles */
header {
  background-color: #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 60px;
}

nav a {
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  background-color: #333;
  padding: 10px;
  color: #fff; 
  text-decoration: none;
}

nav a:hover {
  color: black;
  background-color: orange;
}

.logo {
  margin-right: 20px;
}

nav img {
  width: 70px;
  height: 50px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
}

.info {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.info li {
  margin-right: 10px;
}

.info a {
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.info a:hover {
  color: #ff5e3a;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], input[type="date"], input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
}

input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #666;
}

.error {
  color: red;
  margin-bottom: 10px;
}