/* Global styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

a {
    color: #333;
    text-decoration: none;
}


/* Header styles */

header {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    /* add this line to center align the header */
}

nav {
    display: flex;
    justify-content: center;
    /* change to center justify content */
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 60px;
}

nav a {
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff5e3a;
}

.header1 h1 {
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 20px;
    margin-bottom: 20px;
}


/* add this class to create a small underline */

main {
    background-image: url("https://source.unsplash.com/random/1600x900");
    background-size: cover;
    background-position: center;
}


/* Event card styles */

.event-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 100px auto 0;
    align-items: center;
    margin-bottom: 40px;
}

.event-card {
    width: calc(80% - 20px);
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: 100px;
    align-items: center;
}

.event-card:last-child {
    margin-bottom: 0;
}

.event-card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    align-items: center;
    text-align: center;
}

.event-card p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    align-items: center;
    text-align: center;
}

.event-card button {
    display: block;
    margin: 0 auto;
    background-color: #ff5e3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.event-card button:hover {
    background-color: #ff4827;
}


/* Media Query for responsive design */

@media only screen and (max-width: 768px) {
    .event-card {
        width: 100%;
    }
}


/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.social-media {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-media li {
    margin-right: 10px;
}

.social-media a {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.social-media a:hover {
    color: #ff5e3a;
}